@import "color";

body{
    background-color: $back-color;
    color: $font-color;

    .test{
        width: 200px;
        margin: 0 auto;
        text-align: center;
        h1{
        background-color: $title-color;
        font-size: 25px;
        margin: 20px;
        color: $back-color
        }
        &-link{
            ol{
                width: 150px;
                margin: 0 auto;
            }
        }
    }
    h2{
        margin: 20px;
    span{
        color: $span-color;
    }
}

}
